{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "packages/**/tsconfig.json",
        "tsconfigRootDir": "."
    },
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variableLike",
                "format": ["camelCase"],
                "leadingUnderscore": "allow"
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
