@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.filled {
    fill: currentColor;
}

.controller-column {
    height: 50px;
}
.controller-column > div {
    @apply flex-1 h-full;
}
.controller-column > div > svg,
.controller-column > a > svg {
    @apply h-full m-auto;
}

.w-25pc {
    /* stylelint-disable-next-line */
    width: 25%;
}

.max-w-screen-50vw {
    /* stylelint-disable-next-line */
    max-width: 50vw;
}

.max-h-screen-50vw {
    /* stylelint-disable-next-line */
    max-height: 50vw;
}
